@use '_variables' as v;

@font-face {
    font-family: 'Space Grotesk Bold';
    src: url('/fonts/SpaceGrotesk-Bold.ttf');
}
@font-face {
    font-family: 'Space Grotesk Light';
    src: url('/fonts/SpaceGrotesk-Light.ttf');
}
@font-face {
    font-family: 'Space Grotesk Medium';
    src: url('/fonts/SpaceGrotesk-Medium.ttf');
}
@font-face {
    font-family: 'Space Grotesk Regular';
    src: url('/fonts/SpaceGrotesk-Regular.ttf');
}
@font-face {
    font-family: 'Space Grotesk SemiBold';
    src: url('/fonts/SpaceGrotesk-SemiBold.ttf');
}

// RESET CSS

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

body {
    background-color: v.$body-color;
}

h1 {
    font-size: v.$font-size-xl;
    font-family: v.$bold-font;
    color: v.$font-white;
    text-align: center;

    @media (min-width: v.$desktop-width) {
        font-size: v.$font-size-xxl;
    }
}

.mt-16 {
    margin-top: v.$medium-spacing;
}

.mt-32 {
    margin-top: v.$xl-spacing;
}

.mt-48 {
    margin-top: v.$xxl-spacing;
}

.mt-84 {
    margin-top: v.$title-spacing;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.medium-gray-txt {
    font-size: v.$font-size-md;
    color: v.$font-gray;
    font-family: v.$medium-font;
    line-height: 1.2rem;
}

.txt-center {
    text-align: center;
}

.hero {
    height: calc(100dvh - 3.75rem);
    padding-top: v.$title-spacing;

    .hero-footer {
        position: absolute;
        bottom: 4rem;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        width: 100%;
        
        span {
            color: v.$font-white;
            font-size: v.$font-size-md;
            font-family: v.$medium-font;
            position: relative;
        }

        .icon-white {
            position: absolute;
            top: 2rem;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

.icon-white {
    color: v.$font-white;
}

.feature-section {
    h2 {
        color: v.$primary-purple;
        font-family: v.$bold-font;
        font-size: v.$font-size-xlg;
        text-transform: uppercase;
    }

    h3 {
        color: v.$font-white;
        font-family: v.$semiBold-font;
        font-size: v.$font-size-lg;
    }
}