@use '_variables' as v;

.auth-form {

    .form-input-container {
        display: flex;
        flex-direction: column;
        gap: v.$small-spacing;

        label {
            color: v.$font-white;
            font-family: v.$semiBold-font;
            font-size: v.$font-size-md;
        }

        input {
            height: 2.88rem;
            width: 100%;
            background-color: v.$input-dark-purple;
            border-radius: v.$sm-radius;
            padding: 0 .5rem;
            border: .13rem solid v.$gray-stroke;
            color: v.$font-gray;
            font-family: v.$regular-font;
            font-size: v.$font-size-sm;
        }

        // To change calendar color but not on Firefox
        input[type="date"]::-webkit-calendar-picker-indicator {
            filter: invert(1);
            cursor: pointer;
        }
    }

    .form-footer-link {

        display: flex;
        justify-content: center;
        gap: .5rem;

        span {
            color: v.$font-white;
            font-size: v.$font-size-sm;
            font-family: v.$regular-font;
        }

        a {
            color: v.$primary-purple;
            font-family: v.$semiBold-font;
            text-decoration: none;

            &:hover {
                cursor: pointer;
            }
        }
    }

}

.header {
    height: 3.75rem;
    background-color: v.$body-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    z-index: 99999;

    a {
        text-decoration: none;

        &:hover {
            cursor: pointer;
        }
    }

    .home-link {
        color: v.$font-white;
        font-size: v.$font-size-lg;
        font-family: v.$medium-font;
    }

    .header-login-btn {
        padding: .5rem 1rem;
        background-color: v.$secondary-purple;
        color: v.$font-white;
        font-family: v.$medium-font;
        font-size: v.$font-size-sm;
        border-radius: v.$sm-radius;
        border: solid .13rem v.$primary-purple;
    }
}

.btn-primary {
    background-color: v.$primary-purple;
    color: v.$font-white;
    font-size: v.$font-size-md;
    font-family: v.$bold-font;
}

.form-btn {
    border: none;
    width: 100%;
    height: 3rem;
    border-radius: v.$sm-radius;
}

.bg-shape-container {
    display: flex;   
    position: absolute; 

    .background-shape {
        border-radius: v.$round-radius;
        z-index: -99999;
    }

    .blue {
        background-color: v.$primary-blue;
        height: 180px;
        width: 180px;
        filter: blur(50px);
    }

    .purple {
        background-color: v.$primary-purple;
        height: 80px;
        width: 80px;
        filter: blur(80px);
    }
}

.link-btn {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        cursor: pointer;
    }
}

.card-container {
    width: 100%;
    min-height: 8.75rem;
    padding: 1rem;
    background-color: v.$card-dark-purple;
    border-radius: v.$sm-radius;

    .icon {
        color: v.$primary-purple;
    }

    .subtitle {
        color: v.$font-white;
        font-size: v.$font-size-md;
        font-family: v.$bold-font;
    }

    .text {
        color: v.$font-gray;
        font-size: v.$font-size-sm;
        font-family: v.$medium-font;
    }
}

footer {
    padding-bottom: v.$xxl-spacing;
    span {
        color: v.$font-white;
        font-size: v.$font-size-xlg;
        font-family: v.$bold-font;
        display: flex;
        justify-content: center;
    }

    .link-container {
        display: flex;
        justify-content: space-around;

        a {
            color: v.$font-white;
            font-family: v.$regular-font;
            text-decoration: none;
            font-size: v.$font-size-sm;

            &:hover {
                cursor: pointer;
            }

        }
    }
}