$body-color: #131022;
$primary-purple: #4B2BEE;
$secondary-purple: #4c2bee71;
$primary-blue: #152F45;
$font-white: #F6F6F8;
$font-gray: #D0D5DB;
$input-dark-purple: #15141F;
$card-dark-purple: #201C2E;
$gray-stroke: #3E3E45;

$regular-font: 'Space Grotesk Regular';
$light-font: 'Space Grotesk Light';
$bold-font: 'Space Grotesk Bold';
$semiBold-font: 'Space Grotesk SemiBold';
$medium-font: 'Space Grotesk Medium';

$font-size-xs: 0.75rem;
$font-size-sm: 0.88rem;
$font-size-md: 1rem;
$font-size-lg: 1.25rem;
$font-size-xlg: 1.5rem;
$font-size-xl: 2rem;
$font-size-xxl: 3.5rem;

$xxs-spacing: .25rem;
$xs-spacing: .5rem;
$small-spacing: .75rem;
$medium-spacing: 1rem;
$large-spacing: 1.5rem;
$xl-spacing: 2rem;
$xxl-spacing: 3rem;
$xxxl-spacing: 4rem;
$title-spacing: 5.25rem;

$sm-radius: .5rem;
$round-radius: 50%;

$mobile-width: 340px;
$large-mobile-width: 576px;
$tablet-width: 768px;
$large-tablet-width: 992px;
$desktop-width: 1200px;
$large-desktop-width: 1440px;